* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Eater", cursive;
}

.opacity {
  opacity: 0;
}

.main-container {
  background: url(images/background.png) no-repeat center center/cover;
  height: 130vh;
}

.hangman {
  display: flex;
  height: 130vh;
  justify-content: center;
  align-items: end;
  padding-bottom: 60px;
  padding-left: 90px;
  padding-right: 60px;
}

.tree {
  display: flex;
  height: 300px;
  width: 300px;
}

.rope {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
}

.neck {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
}

.head {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
}

.body {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
}

.left-arm {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
  padding-bottom: 35px;
}

.right-arm {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
}

.left-foot {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
}

.right-foot {
  display: flex;
  position: absolute;
  height: 300px;
  width: 300px;
}

.first-characters {
  display: flex;
  height: 100%;
  position: absolute;
  top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 110px;
  padding-bottom: 40px;
  letter-spacing: 1.5rem;
  line-height: 1.6rem;
}

.second-characters {
  display: flex;
  height: 100%;
  position: absolute;
  top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 110px;
  letter-spacing: 1.5rem;
  line-height: 1.6rem;
}

.third-characters {
  display: flex;
  height: 100%;
  position: absolute;
  top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 110px;
  letter-spacing: 1.5rem;
  line-height: 1.6rem;
  margin-top: 20px;
}

.first-characters p {
  border: 1px solid;
  border-color: rgb(34, 151, 145);
  text-align: right;
  padding-left: 18px;
  background: url(images/pump.jpg) right;
  margin-bottom: 30px;
}

.second-characters p {
  border: 1px solid;
  border-color: rgb(34, 151, 145);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-left: 18px;
  background: url(images/pump.jpg) right;
}

.third-characters p {
  border: 1px solid;
  border-color: rgb(34, 151, 145);
  padding-left: 18px;
  background: url(images/pump.jpg) right;
  margin-top: 30px;
}

#a,
#b,
#c,
#d,
#e,
#f,
#g,
#h,
#i,
#j,
#k,
#l,
#m,
#n,
#o,
#p,
#q,
#r,
#s,
#t,
#u,
#v,
#w,
#x,
#y,
#z {
  margin-right: 10px;
  cursor: pointer !important;
  z-index: 1;
}

#play-btn {
  position: absolute;
  bottom: 58%;
  left: 45%;
  height: 10vh;
}

#play-btn p {
  position: relative;
  left: 50%;
  cursor: pointer;
  top: 40%;
}

#play-btn i {
  position: absolute;
  cursor: pointer;
  bottom: 1%;
}

#how-to-play {
  display: flex;
  position: absolute;
  top: 1px;
  width: 100%;
  justify-content: center;
  padding-top: 40px;
  padding-left: 73px;
  z-index: 4;
}

#how-to-play p {
  background: url(images/tur.jpg);
  padding: 10px;
  border: 5px solid;
  border-color: rgba(38, 108, 108, 0.212);
  border-radius: 5px;
  cursor: pointer;
}

#crowd {
  position: absolute;
  top: 95%;
  left: 70%;
}

#crowd img {
  display: flex;
  width: 300px;
  height: 240px;
}

#scores {
  position: absolute;
  bottom: 40%;
  left: 75%;
}

#score {
  position: absolute;
  bottom: 290%;
}

.score-text {
  position: absolute;
  bottom: 290%;
  left: 110%;
  font-size: 1.5rem;
}

.death-text {
  position: absolute;
  bottom: 5%;
  left: 110%;
  font-size: 1.5rem;
}

#reset {
  position: absolute;
  bottom: 74%;
  left: 50%;
  background: url(images/tur.jpg) right top;
  padding: 5px;
  border: 5px solid;
  border-color: rgba(38, 108, 108, 0.775);
  cursor: pointer;
  z-index: 5;
}

#guess-word {
  position: absolute;
  bottom: 30%;
  left: 49%;
  font-size: 1.5rem;
}
